.body {
    display: flex;
    margin: 0p;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.screen {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 20%);
    max-width: 500px;
    overflow: hidden;
    border-radius: 15px;
}

input {
    width: 100%;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: gray;
    padding: 15px;
    font-size: 35px;
}

output {
    width: 100%;
    padding: 25px;
    background-color: hsl(0, 0%, 20%);
    color: white;
    border: none;
    font-size: 40px;
}

.buttonGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    background-color: black;
    padding: 10px;
    border-radius: 15px;

}

button {
    width: 100px;
    height: 100px;
    color: white; 
    background-color: hsl(0, 0%, 20%);
    border: none;
    border-radius: 50px;
    font-size: 35px;
    cursor: pointer;


}
button:hover {
    background-color: hsl(0, 0%, 15%);
}
button:active {
    background-color: hsl(0, 0%, 30%);
}
.operator-btn {
    background-color: hsl(29, 100%, 55%);
}
.operator-btn:hover {
    background-color: hsl(29, 100%, 60%);
}
.operator-btn:active {
    background-color: hsl(29, 100%, 75%);

}
